RewriteEngine On
RewriteBase /custom-php-mvc-framework/

# Block direct access to the app folder
RewriteRule ^app(/.*)?$ - [F,L]

# Route root to public/index.php
RewriteRule ^$ public/index.php [L]

# Route everything else to public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]