/* General body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Container for the content */
.container {
    max-width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Table styles */
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.table-header {
    background-color: #04AA6D;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #007bff;
}

h2 {
    text-align: center;
    color: #333;
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
}

/* Navigation bar styling */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover, .navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Button styling */
.button, button, .button-like {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
}

.button:hover, button:hover, .button-like:hover {
    background-color: #0056b3;
}

.button-like-cancel {
    background-color: #cc113a;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
}

/* Form styling */
form {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Media Queries for Responsive Tables */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { margin: 0 0 20px; }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    td:before {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-label);
    }
}

/* Error message container styling */
.error-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #cc0000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

/* Styling for the error message heading */
.error-container h1 {
    color: #d8000c; 
    margin-bottom: 20px;
}

/* Paragraph styling in the error container */
.error-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Link styling for returning to the home page */
.error-container a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the link */
.error-container a:hover {
    background-color: #0056b3;
}
